<!--The content below is only a placeholder and can be replaced.-->
<!--
<div class="container">
  <div>
   <img src="https://individual.carefirst.com/carefirst-resources/responsive-full-width/images/logo-carefirst.svg"/>
</div>
<h4>An untrusted URL:</h4>
<button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick();"><i class="fa fa-plus"></i> Add23</button>
<p><a class="e2e-dangerous-url" [href]="dangerousUrl">Click me</a></p>
<h4>A trusted URL:</h4>
<p><a class="e2e-trusted-url" [href]="trustedUrl">Click me</a></p>
<div *ngIf="istrue;then content else elsecontent">ifelse</div>
<ng-template #content>{{helloString}}</ng-template>
<ng-template #elsecontent>false statement</ng-template>


 <ul class="nav nav-pills" >
      <li routerLinkActive="active"><a [routerLink] = "['/header']">Product</a></li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li routerLinkActive="active"><a [routerLink] = "['/footer']">Inventory</a></li>
   </ul>

  
<button (click)="showdata($event.target)" class="btn btn-success"> show data </button>
<p appHighlight>Highlight me!</p>
<div style="text-align:center">


<table id="myTable" class="table" >
  <thead>
      <th> UserId</th>
      <th> Id </th>
      <th> Body</th>
      <th> Title </th>
      

    </thead>
<tr *ngFor="let item of iproducts; let i = index" [attr.data-index]="i">
  <td>
    {{iproducts[i]["userId"]}}
    </td>
     <td>
    {{iproducts[i]["id"]}}
    </td>
     <td>
    {{iproducts[i]["body"]}}
    </td>
<td>
   {{iproducts[i]["title"]}}
  </td>
    <td>
              <button type="button" class="btn btn-success" (click)="editUserPage(item)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteUser(item)">Delete</button>
            </td>
  </tr>
</table>

</div>

<hr>
<!--
  <ag-grid-angular style="width: 900px; height: 115px;" class="ag-theme-fresh"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs">
</ag-grid-angular>

-->
<hr>
<app-header></app-header>

<router-outlet></router-outlet>
<app-footer></app-footer>

